<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b5ceb64d1f.js" crossorigin="anonymous"></script>
</head>
<body class="about-img">
    <header>
        <nav class="enlaces-general" >
            <ul class="enlace-about">
                <li><a href="/"> | HOME | </a></li>
            <li><a href="/about">ABOUT |</a></li>
            <li><a href="/music">MUSIC |</a></li>
            <li><a href="/contact">CONTACT |</a></li>
            </ul>
            
        </nav >
        <ul class="redes-general">
            <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></i></li>
            <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></i></li>
            <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></i></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></i></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></i></li>
        </ul>
    </header>

    <section class="subtitulos-about">
        <h1 class="h1-general">ABOUT <br> EMILIA //</h1><br>
        <h3>"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album"</h3>
        <p>- John Tirckle, Music Today Post </p>
        <h3>"Emilia Cole is one of the <br> scene's breakout stars"</h3>
        <p>- John Tirckle, Music Today Post</p>
    </section>
</body>
</html>