<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b5ceb64d1f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <ul><li><a href="/">HOME </a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/contact">CONTACT</a></li>
            </ul>
            
        </nav>
        <ul>
            <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></i></li>
            <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></i></li>
            <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></i></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></i></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></i></li>
        </ul>
    </header>
    <section>
        <h1>CONTACT//</h1>
        <h4>WE ARE HERE</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39781.08031139625!2d-0.15601530649413498!3d51.45232647560922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697039762462!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
        <h4>CONTACT INFO</h4>
        <article>
        <h6>MANAGEMENT | Karen Blanche</h6>    
        <a href="mailto:info@mysite.com" target="_blank">email: info@mysite.com</a><br>
        <a href="https://wa.me/+1234567890" target="_blank">phone: 123-456-7890</a>
    </article>
    <article>
        <h6>BOOKING | Daniel Ku</h6>
        <a href="mailto:info@mysite.com">e-mail:info@mysite.com</a><br>
        <a href="https://wa.me/+1234567890" target="_blank">phone: 123-456-7890</a>
    </article>
    <article>
        <h6>LABEL | Wix Records, Jake</h6>
        <a href="mailto:info@mysite.com">e-mail:info@mysite.com</a><br>
        <a href="https://wa.me/+1234567890" target="_blank">phone: 123-456-7890</a>
    </article>
    <article>
        <h6>PR | That Girl Pr, Sarah Brookstone</h6>
        <a href="mailto:info@mysite.com">e-mail:info@mysite.com</a><br>
        <a href="https://wa.me/+1234567890" target="_blank">phone: 123-456-7890</a>
    </article>
</body> 
</html>