<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Emilia Cole</title>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200&family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/icon/favicon.ico"/>
<script src="https://kit.fontawesome.com/b5ceb64d1f.js" crossorigin="anonymous"></script>

</head>
<body class="foto1">
    <header>
        <nav class="botones-redes">
            <ul>
            <li><a href="/">HOME</a></li><br>
            <li><a href="/about">ABOUT</a></li><br>
            <li><a href="/music">MUSIC</a></li><br>
            <li><a href="/contact">CONTACT</a></li>
            </ul>
            
        </nav>
        <ul class="redes-sociales"> 
            <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></i></li>
            <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></i></li>
            <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></i></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></i></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></i></li>
        </ul>
    </header>
    <section><h3 id="titulo">EMILIA <br> COLE / / </h3></section>
    <h1 id="twist">TWIST IN MY REALITY</h1>
    </body>
</html>