<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="img/icon/favicon.ico"/>
<script src="https://kit.fontawesome.com/b5ceb64d1f.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav>
            <ul><li><a href="/">HOME </a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/contact">CONTACT</a></li>
            </ul>
            
        </nav>
        <ul>
            <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></i></li>
            <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></i></li>
            <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></i></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></i></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></i></li>
        </ul>
    </header>
    <section><h3>Emilia <br> Cole // </h3></section>
    <h1>TWIST IN MY REALITY</h1>
    <img src="img/emilia-home.jpg" alt="Imagen de emilia" width="100%">
    </body>
</html>