<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>
    <script src="https://kit.fontawesome.com/b5ceb64d1f.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header id="go">
        <img src="img/emilia-music-top.jpg" alt="Imagen de portada" width="100%">
        <nav>
            <ul><li><a href="/">HOME </a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/contact">CONTACT</a></li>
            </ul>
            
        </nav>
        <ul>
            <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></i></li>
            <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></i></li>
            <li><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></i></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></i></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></i></li>
        </ul>
    </header>
    
    <section>
        <h1> MUSIC //</h1>
        <p> Direct link </p>
        <ul>
            <li type="none"><a href="#albun">Album</a></li>
            <li type="none"><a href="#video1">Video: Organic love</a></li>
            <li type="none"><a href="#video2">Video: Street Ligth</a></li>
        </ul>
    </section>

    <section id="albun"><h3>ALBUN TWIST IN MY REALITY</h3>
        <img src="img/emilia-play-list.png" alt="Imagen ALBUM">
    <ol>
        <li>►  Organic Love | 02:40</li><br>
        <li>►  Twist in My Reality | 02:10</li><br>
        <li>►  Street Light | 03:28</li><br>
        <li>►  Love Don't Live Here Anymore | 03:49</li>
    </ol>
    <a href ="#go">Go Top</a>
    </section>
    
    <section id="video1"><h3>VIDEO ORGANIC LOVE</h3>
        <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <p> Directed by VINCE MALC &
        EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART,<br> Wix Films LTD</p>
    <a href ="#go">Go Top</a>
</section>

<section id="video2"><h3>VIDEO STREET LIGHT</h3>
    <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <p> Directed by VINCE MALC &
        EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART,<br> Wix Films LTD</p>
<a href ="#go">Go Top</a>
</section>
</header>
</body>
</html>