.about-img{
    background-image: url('/img/emilia-about.jpg');
    background-repeat: no-repeat;
    background-size:  80%; 
    background-position: right top; 

}

.subtitulos-about h3{
    font-family: 'Open Sans', sans-serif;;
    color: #2e787f;
    margin-left: 20px;
    font-size: 20px;
}

.subtitulos-about p{
    font-family: 'Open Sans', sans-serif;
    color: #2e787f;
    margin-left: 20px;
}