.contact-formato h1{ 
    font-family: 'Raleway', sans-serif;font-size: 55px;
}

.contact-formato h4{
    font-family: 'Raleway', sans-serif; font-size: 20px;
}

h6{
    font-family: 'Open Sans', sans-serif; font-size: 16px;
    color: #2e787f;
}

.contact-formato a{
    color: #808080;
}


.contact-formato p {
    font-family: 'Open Sans', sans-serif; font-size: 16px;;
}