.h1-contact{ 
    font-family: 'Raleway', sans-serif;font-size: 55px;
}

.h4-contact{
    font-family: 'Raleway', sans-serif;
}

h6{
    font-family: 'Open Sans', sans-serif; font-size: 14px;
    color: #2e787f;

}

.p-contact a{
    color: #808080;
}