.foto1{
    background-image: url('/img/emilia-home.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%; 
    background-position: right top;
    height: 100vh; 
    overflow : hidden;
}

#twist{
font-family: 'Raleway', sans-serif;font-size: 82px;
background-color: rgba(255, 255, 255, 0.393);
position: relative;
top: 450px;
}

#titulo{
font-family: 'Encode Sans', sans-serif;
font-size: 40px;
position: relative;
left: 35px;
top: 250px;
}

ul {
    list-style-type: none;
}

.redes-sociales a{
    float: left;
    margin: 2px; 
}




