.home-img{
    background-image: url('/img/emilia-home.jpg');
    background-repeat: no-repeat;
    background-size:  80%; 
    background-position: right top; 
}

#twist{
font-family: 'Raleway', sans-serif;font-size: 55px;
background-color: rgba(255, 255, 255, 0.5);
position: relative;
top: 250px;
}

#sub-titulo{
font-family: 'Open Sans', sans-serif;
font-size: 35px;
position: relative;
left: 35px;
top: 125px;
}

.home-redes li{
    display: inline;
    margin: 2px; 
}




