.music-img{
    background-image: url('/img/emilia-music-top.jpg');
    background-repeat: no-repeat;
    background-position: top; 
    background-size: 100% 150px;
}
.h1-music{ 
    font-family: 'Raleway', sans-serif;font-size: 55px;
}

.music-videos ul{
    font-family: 'Open Sans', sans-serif;
}

.music-videos a{
    font-family: 'Open Sans', sans-serif;
}

ol li{
    font-family: 'Open Sans', sans-serif;
}

.music-videos h3{
    font-family: 'Raleway', sans-serif
}

.music-videos p {
    font-family: 'Open Sans', sans-serif;
}